.video__comments {
    ul {
        margin: 0 auto;
        width: 60%;

        li.video__comment {
            position: relative;
            padding: 12px 24px;
            margin: 12px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            span.video__comment-delete {
                position: absolute;
                right: 24px;
                top: 12px;
                cursor: pointer;
                transition: 0.4s ease;
                &:hover {
                    color: red;
                }
            }
        }
    }
}
