doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul 
                    li 
                        a(href="/") Home &rarr;
                    if loggedIn
                        li
                            a(href="/logout") Log out &rarr;
                        li
                            a(href="/profile") welcome #{loggedInUser.name}! &rarr;
                    else
                        li 
                            a(href="/join") Join &rarr;
                        li 
                            a(href="/login") Login &rarr;
                    li 
                        a(href="/videos/upload") Upload Video &rarr;
                    li 
                        a(href="/search") Search &rarr;
        main
            block content
        include partials/footer