extends ../base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="oldPassword", placeholder="Old Password")
        input(name="newPassword", placeholder="New Password")
        input(name="newPasswordCheck", placeholder="Mew Password Comfirmation")
        input(value="Change Password" type="submit")